* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
html {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    background-color: #ededed;
    color: #000;
    line-height: 1.6;
    font-size: 16px;
}

.hello {
    margin: 5rem auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    height: 80vh;
}

.hello__left {
    text-align: right;
    font-size: 2rem;
    /* allow text to go over image */
    position: relative;
}
.hi {
    margin-right: -10px;
    font-weight: 300;

}
.im {
    margin-right:  20px;
    font-weight: 300;

}
.imake {
    margin-right:  -10px;
    font-weight: 300;

}
.hello__right {
    flex-shrink: 2;

}
.myportrait {
    max-width: 350px;
    width: 100%;
    min-width: 200px;
}

.transitioncolor1 {
    height: 10rem;
    background: rgb(237,237,237);
    background: linear-gradient(175deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 44%, rgba(250,250,250,1) 44%, rgba(250,250,250,1) 100%); 
    width: 100vw; 
}
.techstack {
    background-color: #fafafa;
    padding-bottom: 2rem;
    
}
.techstack__title,
.projects__title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
}
.techstack__container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.techstack__container i {
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    color: #000;
}
.techstack__container__item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}
.techstack__container__item h3 {
    font-weight: 400;
}

.transitioncolor2 {
    height: 10rem;
background: rgb(250,250,250);
background: linear-gradient(175deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 44%, rgba(253,253,253,1) 44%, rgba(253,253,253,1) 100%); 
width: 100vw; 

}

.projects {
    background-color: #fdfdfd;
}
.projects__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}
.project1,
.project2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.project2 {
    flex-wrap: wrap-reverse;
}
.project1__left,
.project2__right,
.project1__right,
.project2__left {
    flex: 1 0 46%;
}
.project1__left,
.project2__right {
    min-width: 17em;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
button:hover {
    background-color: #b5b5b5;
    color: #000;
}
/* select all elements inside project1__left */
.project1__left *,
.project2__right * {
    margin-bottom: 1rem;
}


.transitioncolor3 {
    height: 10rem;
    background: rgb(253,253,253);
    background: linear-gradient(175deg, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 44%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%); 
    width: 100vw;
}

/* make the contact section */
.contact {
    background-color: #fff;
    padding: 4rem 0 4rem 0;
}
.contact__container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact__title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 6rem;
    font-weight: 300;
}
.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* make all input fields equelly big */
.contact__form input {
    max-width: 25rem;
    min-width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    background-color: #fcfcfc;

}
.contact__form textarea {
    max-width: 25rem;
    min-width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    background-color: #fcfcfc;
}
.contact__form button {
    max-width: 25rem;
    min-width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    
}
/* change input focus color */
.contact__form input:focus,
.contact__form textarea:focus {
    outline: 2px solid #ffd966;
}
.contact__container__left {
    flex: 1 0 50%;
}
.contact__container__right {
    flex-basis: 43%;
    margin: 0 auto;

}
.contact__container__right h3 {
    font-weight: 300;
    padding-bottom: 1rem;
}
.contact__container__right a {
    padding-right: 1rem;
    color: #6e6e6e;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
}
.contact__container__right a:hover {
    color: #000;
}